*{
    margin: 0;
    padding: 0;
    
   
}
body{
    background: rgb(247, 228, 134); 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-image: url("/img/pngtree-restaurant-menu-background-material-image_154445.jpg")
}

ul{
    list-style: none;
}

header {
    padding: 32px 0;
    text-align: center;    
    }
    header h1{
        margin-bottom: 10px;
        font-size: 28px;
    }
header,
img,
section{
        max-width: 350px;
        margin: 0 auto;
    }
section{
    margin-bottom: 24px;
}
section h2{
    font-size: 18px;
    background-color: rgb(247, 228, 134);
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 24px;
}
ul li{
  font-size: 20px;
    margin-bottom: 10px;
    display:flow-root;
    max-width: 350px;
    max-width: 350px;
  }
li .details {
    max-width: 240px;
    border: 1px solid black;
    overflow-wrap:break-word;
    max-width: 350px;
    margin-bottom: 5px;
 }
.details h3{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 13px;
  }
.details p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 21px;
    }

h1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 5px;
  text-transform: uppercase;
  margin-left: 5px
} 

 h2, h3,h4 {
margin-top: 5px;
font-family: serif;
text-transform: uppercase;
margin-left: 5px
}
.strong,
.price {
    
    font-family: serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 15px;
    text-align: center;
    max-width: 350px;
   }
    .description{
    flex-direction: column;
    text-align:justify;
    overflow-wrap:break-word;
   }
.acrescimo {
    display:flexbox;
    overflow-wrap:break-word;
    max-width: 350px;
    margin-bottom: 5px;
    border: 1px solid black;
     
}
ul li .acrescimo{
   
  display:flow-root;
  
  max-width: 350px;

}

ul.acrescimos {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none}
ul.acrescimos li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "}
ul.acrescimos span:first-child {
  padding-right: 0.33em;
  background: nome;
}
ul.acrescimos span + span {
  float: right;
  padding-left: 0.33em;
  background:none}

  h6{
    max-width: 270px;
    overflow: hidden;
  }